[submodule "dist/pacman/goldboot"]
	path = dist/pacman/goldboot
	url = ssh://aur@aur.archlinux.org/goldboot
[submodule "dist/pacman/goldboot-registry"]
	path = dist/pacman/goldboot-registry
	url = ssh://aur@aur.archlinux.org/goldboot-registry
[submodule "dist/pacman/sandpolis"]
	path = dist/pacman/sandpolis
	url = ssh://aur@aur.archlinux.org/sandpolis
[submodule "dist/pacman/sandpolis-agent"]
	path = dist/pacman/sandpolis-agent
	url = ssh://aur@aur.archlinux.org/sandpolis-agent
[submodule "dist/pacman/sandpolis-agent-git"]
	path = dist/pacman/sandpolis-agent-git
	url = ssh://aur@aur.archlinux.org/sandpolis-agent-git
[submodule "dist/pacman/sandpolis-server"]
	path = dist/pacman/sandpolis-server
	url = ssh://aur@aur.archlinux.org/sandpolis-server
[submodule "dist/pacman/sandpolis-server-git"]
	path = dist/pacman/sandpolis-server-git
	url = ssh://aur@aur.archlinux.org/sandpolis-server-git
[submodule "dist/pacman/sandpolis-client"]
	path = dist/pacman/sandpolis-client
	url = ssh://aur@aur.archlinux.org/sandpolis-client
[submodule "dist/pacman/sandpolis-client-git"]
	path = dist/pacman/sandpolis-client-git
	url = ssh://aur@aur.archlinux.org/sandpolis-client-git
[submodule "dist/pacman/sandpolis-git"]
	path = dist/pacman/sandpolis-git
	url = ssh://aur@aur.archlinux.org/sandpolis-git
[submodule "dist/pacman/goldboot-git"]
	path = dist/pacman/goldboot-git
	url = ssh://aur@aur.archlinux.org/goldboot-git
